:root {
    --pink: rgb(255, 0, 128);
    --green : rgb(12, 248, 102);
    --black: rgb(0, 0, 0);
    --gold: rgb(212, 175, 55); 
    --purple: rgb(120, 0, 150);
    --blue: rgb(41, 255, 226);
    --orange: rgb(255, 81, 0);
    --red: rgba(255, 0, 0, 0.76);
  }


h2, pre, section{text-align: center; font-family: Monstera Jam; font-size: 30px; color: var(--black);font-weight: bolder;}
h1 {text-align: left; font-family: Monstera Jam; font-size: 40px;font-weight: bolder;}
nav {text-align: right; font-family: Monstera Jam; font-size: 35px;font-weight: bolder;}
nav a {color:var(--pink)}
a {color: var(--pink)}
body {
  background-image: url("car-entry-pink-1-1624986404.jpg"); background-size: auto; backdrop-filter: blur(10px);
   }
   @font-face {
    font-family: 'Monstera Jam';
    src: url('monstera-jam-font/MonsteraJam-rgZE8.ttf') format('woff2'),
        url('monstera-jam-font/MonsteraJam-rgZE8.ttf') format('woff');
    font-weight: normal;
    font-style: oblique;
    font-display: block;
  }
  * {
    margin: 0;
    padding: 0;
  }
      
    /* To make all elements center */
    display: flex;
    justify-content: center;
    align-items: center;
   
    /* Default Styling */
    * {margin: 20px auto;
    padding: 30px;
    font-size: 30px;
    font-family: Monstera Jam; src: url(monstera-jam-font/MonsteraJam-rgZE8.ttf);
    width: 300px;
    height: 300px;
  }
   
  /* For Desktop View */
  @media screen and (min-width: 1024px) {margin: 20px auto;
    padding: 30px;
    font-size: 30px;
    font-family: Monstera Jam; src: url(monstera-jam-font/MonsteraJam-rgZE8.ttf);
    width: 300px;
    height: 300px;
    background-size: auto; backdrop-filter: blur(10px);
    }
  
   
  /* For Tablet View */
  @media screen and (min-device-width: 768px)
  and (max-device-width: 1024px) {
    padding: 20px;
    font-size: 20px;
      width: 400px;
      height: 400px;
      font-family: Monstera Jam; src: url(monstera-jam-font/MonsteraJam-rgZE8.ttf);
      background-size: auto; backdrop-filter: blur(10px);
    }
  
   
  /* For Mobile Portrait View */
  @media screen and (max-device-width: 480px)
  and (orientation: portrait){ nav, h1, h2, pre, section, nav a, a, body
    {padding: 15px;
    font-size: 15px;  
    width: 200px;
      height: 200px;
      font-family:(monstera-jam-font/MonsteraJam-rgZE8.ttf); background-size: auto; backdrop-filter: blur(10px);
    }
  }
   
  /* For Mobile Landscape View */
  @media screen and (max-device-width: 640px)
  and (orientation: landscape) { nav, h1, h2, pre, section, nav a, a, body {
    padding: 40px;
    font-size: 20px;
      width: 400px;
      height: 200px;
      font-family: Monstera Jam; src: url(monstera-jam-font/MonsteraJam-rgZE8.ttf); background-size: auto; backdrop-filter: blur(10px);
    }
  }
   
  /* For Mobile Phones Portrait or Landscape View */
  @media screen and (max-device-width: 640px) {  nav, h1, h2, pre, section, nav a, a, body
     { padding: 40px;
      font-size: 20px;
      width: 400px;
      height: 200px;
      font-family: Monstera Jam; src: url(monstera-jam-font/MonsteraJam-rgZE8.ttf); 
      background-size: auto; backdrop-filter: blur(10px);
    }
  }
   
  /* For iPhone 4 Portrait or Landscape View */
  @media screen and (min-device-width: 320px)
  and (-webkit-min-device-pixel-ratio: 2) { nav, h1, h2, pre, section, nav a, a, body
     { padding: 20px;
      font-size: 20px;
      width: 400px;
      height: 400px;
      font-family: Monstera Jam; src: url(monstera-jam-font/MonsteraJam-rgZE8.ttf);
      background-size: auto; backdrop-filter: blur(10px);
    }
  }
   
  /* For iPhone 5 Portrait or Landscape View */
  @media (device-height: 568px) and (device-width: 320px)
  and (-webkit-min-device-pixel-ratio: 2) {
    nav, h1, h2, pre, section, nav a, a, body, footer { padding: 20px;
      font-size: 20px;
      width: 400px;
      height: 400px;
      font-family: Monstera Jam; src: url(monstera-jam-font/MonsteraJam-rgZE8.ttf);
      background-size: auto; backdrop-filter: blur(10px);
    }
  }
   
  /* For iPhone 6 and 6 plus Portrait or Landscape View */
  @media (min-device-height: 667px) and (min-device-width: 375px)
  and (-webkit-min-device-pixel-ratio: 3) {
    nav, h1, h2, pre, section, nav a, a, body, footer { padding: 20px;
      font-size: 20px;
      width: 400px;
      height: 400px;
      font-family: Monstera Jam; src: url(monstera-jam-font/MonsteraJam-rgZE8.ttf);
      background-size: auto; backdrop-filter: blur(10px);
    }
  }

  @media only screen 
    and (device-width: 375px) 
    and (device-height: 812px) 
    and (-webkit-device-pixel-ratio: 3) nav, h1, h2, a, nav a, body, section, footer {font-size: 20px;
      width: 400px;
      height: 400px;
      font-family: Monstera Jam; src: url(monstera-jam-font/MonsteraJam-rgZE8.ttf);
      background-size: auto; backdrop-filter: blur(10px); }