:root {
    --pink: rgb(255, 0, 128);
    --green : rgb(12, 248, 102);
    --black: rgb(0, 0, 0);
    --gold: rgb(212, 175, 55); 
    --purple: rgb(120, 0, 150);
    --blue: rgb(41, 255, 226);
    --orange: rgb(255, 81, 0);
    --red: rgba(255, 0, 0, 0.76);
  }
h2, pre, section{text-align: center; font-family: Monstera Jam; font-size: 30px; color: var(--black);font-weight: bolder;}
h1 {text-align: left; font-family: Monstera Jam; font-size: 40px;font-weight: bolder;}
nav {text-align: right; font-family: Monstera Jam; font-size: 35px;font-weight: bolder;}
nav a {color:var(--black);}
a {color: var(--black)}
body {
  background-image: url("pink-beach.jpg"); backdrop-filter: blur(10px);background-size: auto;

   }
   body img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    max-width: 100%;
  height: auto;
  border-radius: 50%;
}
@font-face {
  font-family: 'Monstera Jam';
  src: url('MonsteraJam.woff2') format('woff2'),
      url('MonsteraJam.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

  